<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Error</title>
  </head>
  <body>
    <h1 style="text-align:center;color:red"><%= message %></h1>
  </body>
</html>
