<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Loby</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src='/javascripts/clientConnection.js'></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/connect4.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/loby.css">

  </head>
  <body>
    <button class="button" id="fullscreen" onclick="openFullscreen();">Fullscreen</button>

    <div id="waiting_message">
      <h1>Waiting for Loby ID: <%= lobyID %></h1>
    </div>

    <div id="TurnDiv">

      <h1 id="Turn"></h1>

      <div id="timer">
        <span id="time"></span>
      </div>

    </div>




    <div id="grid" style="visibility: hidden;">
    </div>

    <br>

    <div id="Splash_Screen" style="visibility: hidden;">
      <button class="button" onclick="referance()">Go to the Splash Screen</button>
    </div>

    <script>
      function referance() {
        document.location.href = "/splash";
      }

      window.onbeforeunload = function() {
          return "Are you sure you want to exit";
      }


    var elem = document.documentElement;

    function openFullscreen() {
      if (elem.requestFullscreen) {
        elem.requestFullscreen();
      } else if (elem.mozRequestFullScreen) { /* Firefox */
        elem.mozRequestFullScreen();
      } else if (elem.webkitRequestFullscreen) { /* Chrome, Safari & Opera */
        elem.webkitRequestFullscreen();
      } else if (elem.msRequestFullscreen) { /* IE/Edge */
        elem.msRequestFullscreen();
      }
    }


    // If the viewport is less than, or equal to, 700 pixels wide, the background color will be yellow. If it is greater than 700, it will change to pink.
    function resolution(x) {
      if (x.matches) { // If media query matches
        document.getElementById('grid').style.visibility = 'hidden';
        window.alert("if there is no button to enter the game, you need to resize your window");
      }
      else {
        if(game == undefined) {

        }else {
          document.getElementById('grid').style.visibility = 'visible';
        }
      }
    }

    var x = window.matchMedia("(max-width: 1800px)")
    resolution(x) // Call listener function at run time
    x.addListener(resolution) // Attach listener function on state changes


    </script>

  </body>
</html>
