<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Loby</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src='/javascripts/clientConnection.js'></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/connect4.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/loby.css">

  </head>
  <body>

    <div id="waiting_message">
      <h1>Waiting for Loby ID: <%= lobyID %></h1>
    </div>

    <div id="TurnDiv">

      <h1 id="Turn"></h1>

      <div id="timer">
        <span id="time"></span>
      </div>

    </div>

    


    <div id="grid" style="visibility: hidden;">
    </div>

    <br>

    <div id="Splash_Screen" style="visibility: hidden;">
      <button class="button" onclick="referance()">Go to the Splash Screen</button>
    </div>

    <script>
      function referance() {
        document.location.href = "/splash";
      }

      window.onbeforeunload = function() {
          return "Are you sure you want to exit";
      }
    </script>

  </body>
</html>
