<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Splash Screen</title>
    <script language="javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/splashScreen.css">

  </head>
  <body>
  <div id="nick">
    <h2 class="h2s">Enter Your Nickname</h2>
    <input type="text" name="nick"  placeholder="Your Nickname ..." style="display: inline-block; margin-left: 25px;">
  </div>

  <div id="logo">
    <svg viewBox="0 0 960 300">
      <symbol id="s-text">
        <text text-anchor="middle" x="50%" y="80%">Connect4</text>
      </symbol>

      <g class = "g-ants">
        <use xlink:href="#s-text" class="text-copy"></use>
        <use xlink:href="#s-text" class="text-copy"></use>
        <use xlink:href="#s-text" class="text-copy"></use>
        <use xlink:href="#s-text" class="text-copy"></use>
        <use xlink:href="#s-text" class="text-copy"></use>
      </g>
    </svg>

    <div id="gameStatistics">
      <h2 class="gSh2" id="Statistics">Statistics</h2>
      <h2 class="" id="" style="color:white"><%= message %></h2>
      <h2 class="gSh2" id="CurrentlyOnlineUsers"></h2>
      <h2 class="gSh2" id="gamesPlayed"></h2>
      <h2 class="gSh2" id="shortestGame"></h2>
      <h2 class="" id="howtoplay" style="color:white">How To Play: Try to get 4 of your color checkers in a row horizontally, vertically, or diagonally before your opponent. To drop a checker click the column you want to drop it to. To create a game enter a nickname and press create server, then share the given code with your opponent.</h2>

    </div>
  </div>

  <div id="join">
    <h2 class="h2s">Join server</h2>
    <input type="text" name="join_server" style="display: inline-block; margin-left: 12px;"><br>
    <button class="button" onclick="joinServer()" style="display: inline-block; ">Join</button>
  </div>

  <div id="create">
    <h2 class="h2s">Create Server</h2 >
    <button class="button" onclick="createServer()">Create Server</button>
  </div>




  <br><br>





  <!-- Error div -->

  <div id="error_div" style="">
    <h2 style="color:red;"></h2>
  </div>

  <button class="button" id="fullscreen" onclick="openFullscreen();">Fullscreen</button>

  <script type="text/javascript">
  var elem = document.documentElement;
  function openFullscreen() {
    if (elem.requestFullscreen) {
      elem.requestFullscreen();
    } else if (elem.mozRequestFullScreen) { /* Firefox */
      elem.mozRequestFullScreen();
    } else if (elem.webkitRequestFullscreen) { /* Chrome, Safari & Opera */
      elem.webkitRequestFullscreen();
    } else if (elem.msRequestFullscreen) { /* IE/Edge */
      elem.msRequestFullscreen();
    }
  }
  </script>



  <script type="text/javascript">

    function createServer() {

        var val = $("input[name=nick]").val();
        val = val.trim();
        localStorage.setItem("nick", val);
        console.log(val);
        if(val.length == 0) {
          document.getElementById("error_div").innerHTML = "You need to enter a nickname before creating a server";
          document.getElementById("error_div").style.visibility = "visible";
        } else {
          var r = {
            nick: val
          }
          $.ajax({
            type: 'POST',
            url: '/createServer',
            data: r,
            success: (data) => {
                //data is response from server.
                document.location.href = data.id;
                console.log('success');
                console.log(data);
            }
          });
        }

    }


    function joinServer() {

      var val = $("input[name=nick]").val();
      localStorage.setItem("nick", val);
      var lobyID = $("input[name=join_server]").val();
      lobyID = lobyID.trim();
      val = val.trim();
      console.log(val);
      if(val.length == 0) {
        document.getElementById("error_div").innerHTML = "You need to enter a nickname before joining to a server"
        document.getElementById("error_div").style.visibility = "visible";
      } else if(lobyID.length == 0) {
        document.getElementById("error_div").innerHTML = "You need to enter a lobyID before joining to a server"
        document.getElementById("error_div").style.visibility = "visible";
      }else {
        var r = {
          nick: val,
          lobyID: lobyID
        }
        $.ajax({
          type: 'POST',
          url: '/joinServer',
          data: r,
          success: (data) => {
              //data is response from server.
              document.location.href = data.id;
              console.log('success');
              console.log(data);
          }
        });
      }

    }

    function UpdateStats() {
      //CurrentlyOnlineUsers
      $.getJSON("playerCount").done(function(playerCount) {
        document.getElementById('CurrentlyOnlineUsers').innerHTML = playerCount.count + " players available";
      });

      $.getJSON("shortestGame").done(function(playerCount) {
        if(playerCount.count == undefined){
          document.getElementById('shortestGame').innerHTML = "no games played";
        } else {
          document.getElementById('shortestGame').innerHTML = "shortest game: "+ playerCount.count + " seconds";
        }
      });

      $.getJSON("gamesPlayed").done(function(playerCount) {
        document.getElementById('gamesPlayed').innerHTML =  playerCount.count + " games played";
      });
    }

    $(document).ready(function() {
      UpdateStats();
      //updates the current online players
      window.setInterval(UpdateStats, 5000);


    });


    // If the viewport is less than, or equal to, 700 pixels wide, the background color will be yellow. If it is greater than 700, it will change to pink.
    function resolution(x) {
      if (x.matches) { // If media query matches
        document.getElementById('join').style.visibility = 'hidden';
        document.getElementById('create').style.visibility = 'hidden';
        document.getElementById('nick').style.visibility = 'hidden';
        window.alert("if there is no button to enter the game, you need to resize your window");
      }
      else {
        document.getElementById('join').style.visibility = 'visible';
        document.getElementById('create').style.visibility = 'visible';
        document.getElementById('nick').style.visibility = 'visible';
      }
    }

    var x = window.matchMedia("(max-width: 1800px)")
    resolution(x) // Call listener function at run time
    x.addListener(resolution) // Attach listener function on state changes

  </script>





  </body>
</html>
